.navbar {
    width: 100%;
    max-width: 1000;
    display: flex;
    justify-content: center;
}


.navbar button + button {
    margin-left: 10px;
}

a {
    color: FFA07D;
}

.vote {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
